Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #c5c8c6
XTerm*foreground: #657b83
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

*background:                      #c5c8c6
*foreground:                      #657b83
*fading:                          15
*fadeColor:                       black
*cursorColor:                     #16A085
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #232423
*color8:                          #282928

!! red dark/light
*color1:                          #BA2922
*color9:                          #CC372C

!! green dark/light
*color2:                          #7E807E
*color10:                         #8D8F8D

!! yellow dark/light
*color3:                          #4C4F4D
*color11:                         #4E524F

!! blue dark/light
*color4:                          #16A085
*color12:                         #13BF9D

!! magenta dark/light
*color5:                          #43746A
*color13:                         #487D72

!! cyan dark/light
*color6:                          #00CCCC
*color14:                         #00D1D1

!! white dark/light
*color7:                          #E0E0E0
*color15:                         #E8E8E8

Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

XTerm*background:                 #c5c8c6
XTerm*foreground:                 #657b83
XTerm*reverseVideo:               on
XTerm*faceName:                   Terminus:size=11:antialias=true
XTerm*selectToClipboard:          true

!URxvt.font:                       9x15

URxvt.font:     xft:bitstream vera sans mono:size=12:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=12:antialias=true

! alternative font settings with 'terminus':
!URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
!URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
!! terminus names see end of file!

URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*background:                 black
URxvt*foreground:                 grey
URxvt*saveLines:                  5000

###############################################################
URxvt*foreground:   #c5c8c6
URxvt*background:   #1d1f21
URxvt*cursorColor:  #c5c8c6

! black
URxvt*color0:       #282a2e
URxvt*color8:       #373b41

! red
URxvt*color1:       #a54242
URxvt*color9:       #cc6666

! green
URxvt*color2:       #8c9440
URxvt*color10:      #b5bd68

! yellow
URxvt*color3:       #de935f
URxvt*color11:      #f0c674

! blue
URxvt*color4:       #5f819d
URxvt*color12:      #81a2be

! magenta
URxvt*color5:       #85678f
URxvt*color13:      #b294bb

! cyan
URxvt*color6:       #5e8d87
URxvt*color14:      #8abeb7

! white
URxvt*color7:       #707880
URxvt*color15:      #c5c8c6

! === rofi ===

rofi.modi:                           run
rofi.sidebar-mode:                   false
rofi.terminal:                       termite
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        30
rofi.width:                          30
rofi.lines:                          5
rofi.columns:                        1
rofi.font:                           Inconsolata 15
rofi.fg:                             #5294E2
rofi.bg:                             #5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #353944,      #353944, #353944
rofi.bw:                             10
rofi.location:                       7
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                false
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width: 8